body {
    font-family: 'Press Start 2P', cursive;

  /*font-family: Roboto, "Helvetica", "sans-serif";*/
  margin: 0;

  font-size: 3em;
  height: 100%;
  width: 100%;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}
/*
.row {
    min-height: 826px;
    width: auto;
}*/

.title {
    margin-top: 5%;
}

/*
  Section styles
 */
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  width: 500px;
  margin-top: 5%;
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--green {
  border-color: #0074D9;
  color: #111;
  background-color: #9cf725;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: rgb(0, 44, 254);
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

#attack-button {
    align-content: center;
    margin-top: .5em;
}

.playerDisplay {
    display:flex;
    justify-content: space-around;
}



#orc {
    max-width: 63%;
    min-height: 200px;
    width: auto;
    padding: 26px;
    margin-right: 207px;
    margin-top: 262px;
}

#warrior {
    min-height: 352px;
    margin-left: 29%;
    margin-top: 167px;
}

.battle {
    top: 0; right: 0; bottom: 0; left: 0;

/*("http://orig04.deviantart.net/b452/f/2012/193/3/1/spaceship_background_3_by_indigodeep-d56yq3x.jpg")*/
    background: url("https://lh3.googleusercontent.com/-l2jTmaTSGMU/VZ-oGTMJNKI/AAAAAAAAAKI/GeIwHPxcJbklc8JWTUS2Se9Ca00wGhrwQCL0B/s0-d/tumblr_mq3j94YlNd1qdmahlo1_1280.gif") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    min-height: 826px;

}

.statsDisplay {
    display:flex;
    justify-content: space-around;

}

.player-one, .player-two {
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    max-width: 45%;
    width: auto;
    color: yellow;
    padding: 15px;
    border: 5px solid red;
    background-color: blue;
    /*margin: 1% 3% 7% 3%;*/
}

#healthbar {
  padding: .25em 1em;
  display: flex;
  flex-direction: row;
}

#player1Health, #player2Health {
  border: 5px solid yellow;
  margin-top: 1.6%;
  flex-grow: 2;
  height: 1em;
  -webkit-appearance: none;
  color: red;

}
